table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  color: #213547;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

table th {
  text-align: center;
}

table td {
  text-align: center;
}